:root {
  --primary: #e50914; /* Vermelho vibrante */
  --bg-main: #141414; /* Fundo principal escuro */
  --bg-card: #1f1f1f; /* Fundo dos cards e modal */
  --text-main: #ffffff;
  --text-muted: #b3b3b3;
  --border-color: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}